<span style="color:red">{{error.errorMessage}}</span>
<div class="container" ng-show="user.role=='ADMIN'">
<div class="panel panel-info">
<div class="panel-heading">
<b>Blog Title </b> {{blogPost.blogTitle}}<br>
<b>Posted On </b>{{blogPost.postedOn | date :'dd-MM-yyyy'}}<br>
<b>Posted By </b>{{blogPost.postedBy.firstname}} &nbsp; {{blogPost.postedBy.lastname}}<br>
<b>Email </b>{{blogPost.postedBy.email}}<br>
</div>
<div class="panel-body">
<b>BlogContent </b>{{blogPost.blogContent}}<br>
<button class="btn btn-info" ng-click="approve(blogPost)">Approve</button> &nbsp; <button class="btn btn-danger" ng-click="reject(blogPost,rejectionReason)">Reject</button>
</div>
</div>
</div>


